################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BookingSystem/bin/Debug/net8.0
/BookingSystem/obj
